.anu {
text-align: center;
}
.ridip{
    height: 300px;
    margin-left: 10px;
    margin-top: 5px;
}
.ANUPAM{
    text-align: center;
    color: red;
}
.bbc{
    text-align: center;
    font-size: 20px;
}
.kk{
height: 35px;
width: 200px;
margin-left: 340px;
margin-bottom: 30px;
}
.ss{
    height: 500px;
    width: 900px; 
    border: 2px solid red;
}
.dd{
    margin-left: 200px;
    margin-top: 100px;
}